body {
  background-image: url("https://wallpapercave.com/wp/wp13915512.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

main {
  background-color: #00ff0013;
}

.cor_fundo {
  background-color: #00ff0013;
}

aside {
  background-color: #ff050565;
}

h1 {
  font-size: 1.2rem;
  color: #ffd900;
}

h2 {
  font-size: 1.2rem;
  font-family: cursive;
  color: #ffd900;
}

img {
  width: 139px;

  margin-right: 10px;
}

a {
  color: #83e509;
  text-decoration: none;
}

a:visited {
  color: #65b307;
}

table {
  text-align: center;
}

thead {
  text-decoration: solid;
  background-color: #005500;
}

tbody > tr:nth-of-type(odd) {
  background-color: #2aa835;
}

tbody > tr:nth-of-type(even) {
  background-color: #65bd65;
}

.centralizador {
  text-align: center;
}
